
.setup {
    position: relative;


    header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 40px;
        
        h1 {
            font-size: 28px;
        }

        img {
            cursor: pointer;
            
        }
        
    }

    main {
        padding: 40px;
        display: flex;
        flex-direction: column;
        justify-content: center;

        .time-wr {
            width: 100%;
            // margin-bottom: 24px;

            h2 {
                font-size: 13px;
                line-height: 13px;
                letter-spacing: 5px;
                margin-bottom: 22px;
                font-weight: 900;
            }
        }

        .fonts-wr {
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            border-bottom: 2px solid var(--gray);
            padding: 24px 0;

            h2 {
                font-size: 13px;
                line-height: 13px;
                letter-spacing: 5px;
                font-weight: 900;

            }

           
        }

        .colors-wr {
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            border-bottom: 2px solid var(--gray);
            padding: 24px 0;

            h2 {
                font-size: 13px;
                line-height: 13px;
                letter-spacing: 5px;
                font-weight: 900;

            }

            
        }
    }

    .apply {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 140px;
        height: 53px;
        margin: 0 auto;
        background-color: var(--tomato);
        border-radius: 26.5px;
        cursor: pointer;
        font-weight: 700;
        color: var(--white);

    }
    .apply:hover {
        background-color: #df5050;
    }


}